<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>jQuery Bootstrap Slider Plugin Examples</title>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<link href="dist/css/bootstrap-slider.css" rel="stylesheet" type="text/css">
<style>
#slider5a .slider-track-high, #slider5c .slider-track-high {
    background: green;
}

#slider5b .slider-track-low, #slider5c .slider-track-low {
    background: red;
}

#slider5c .slider-selection {
    background: yellow;
}
</style>
</head>

<body style=" background-color:#222; color:#fff;">
<div id="jquery-script-menu">
<div class="jquery-script-center">
<ul>
<li><a href="http://www.jqueryscript.net/form/Highly-Customizable-Range-Slider-Plugin-For-Bootstrap-Bootstrap-Slider.html">Download This Plugin</a></li>
<li><a href="http://www.jqueryscript.net/">Back To jQueryScript.Net</a></li>
</ul>
<div class="jquery-script-ads"><script type="text/javascript"><!--
google_ad_client = "ca-pub-2783044520727903";
/* jQuery_demo */
google_ad_slot = "2780937993";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></div>
<div class="jquery-script-clear"></div>
</div>
</div>
<div class="container" style="margin:150px auto; max-width:640px;">
<h1>jQuery Bootstrap Slider Plugin Examples</h1>
<h2>Single value slider</h2>
<input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
<h2>Range Slider</h2>
<b>€ 10</b> <input id="ex2" type="text" class="span2" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/> <b>€ 1000</b>
<h2>Slide event</h2>
<input id="ex3" type="text" data-slider-min="-5" data-slider-max="20" data-slider-step="1" data-slider-value="3">
<span id="ex3CurrentSliderValLabel">Current Slider Value: <span id="ex3SliderVal">3</span></span>
<h2>Custom tick marks.</h2>
<input id="ex4" type="text" data-slider-ticks="[0, 100, 200, 300, 400]" data-slider-ticks-snap-bounds="30" data-slider-ticks-labels='["$0", "$100", "$200", "$300", "$400"]'/>
<h2>Coloring the low and high track segments</h2>
<!-- Single-value slider, high track: -->
<input id="ex5a" type="text"/><br/>
<br>

<!-- Range slider, low track: -->
<input id="ex5b" type="text"/><br/>
<br>
<!-- Range slider, low and high tracks, and selection: -->
<input id="ex5c" type="text"/><br/><br>
</div>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="dist/bootstrap-slider.js"></script>
<script>
$('#ex1').slider({
    formatter: function(value) {
        return 'Current value: ' + value;
    }
});
$("#ex2").slider({});
$("#ex3").slider();
$("#ex3").on("slide", function(slideEvt) {
    $("#ex3SliderVal").text(slideEvt.value);
});
$("#ex4").slider({
    ticks: [0, 100, 200, 300, 400],
    ticks_labels: ['$0', '$100', '$200', '$300', '$400'],
    ticks_snap_bounds: 30
});
$("#ex5a").slider({ id: "slider5a", min: 0, max: 10, value: 5 });
$("#ex5b").slider({ id: "slider5b", min: 0, max: 10, range: true, value: [3, 7] });
$("#ex5c").slider({ id: "slider5c", min: 0, max: 10, range: true, value: [3, 7] });
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
